#results {
    /* border: 1px solid black; */
    margin: 2rem auto;
    text-align: right;
    /* table-layout: fixed; */
    padding: 1rem;

}

thead {
    /* font-size: 0.7rem; */
    color: #83e6c0;
}

#results tbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85rem;
    color: #c2e9e0;
}

td,
th {
    text-align: center;
}